* {
  margin: 0;
  padding: 0;
}

#title {
  font-family: sans-serif;
  color: whitesmoke;
  margin-left: 7%;
}

#subtitle {
  font-family: sans-serif;
  color: pink;
  margin-left: 10%;
}

#check {
  display: inline-block;
}

fieldset {
  border: 0;
}

body {
  background-color: rgb(153, 145, 145);
  font-family: sans-serif;
  font-size: 1em;
  color: whitesmoke;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

input,
textarea,
button {
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(153, 145, 145);
  border-radius: 5px;
}

select {
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(153, 145, 145);
  border-radius: 5px;
}

.group:before,
.group:after {
  display: table;
}

.group:after {
  clear: both;
}

.field {
  margin-bottom: 1em;
}

.field label {
  margin-bottom: 0.2em;
  color: whitesmoke;
  display: block;
}

fieldset.group .field {
  float: left;
  margin-right: 1em;
}

.field input[type='text'],
.field input[type='email'],
.field select,
.field textarea {
  padding: 0.2em;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 2px black;
  display: block;
}

.field select option {
  padding-right: 1em;
  color: whitesmoke;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
  background: pink;
}

.button {
  font-size: 1.2em;
  background: pink;
  border: 0;
  margin-bottom: 1em;
  color: whitesmoke;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px black;
  text-shadow: 1px 1px 1px palevioletred;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background: pink;
  color: whitesmoke;
  box-shadow: inset 2px 2px 2px whitesmoke;
  text-shadow: none;
}

.button,
select {
  cursor: pointer;
}
